@import url('flexbox.css');
@import url('style.css');
@import url('media2.css');




/* this is the main grid container for project. */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 0px 0px;
    grid-template-areas:
      "Header Header Header"
      "main main main"
      "footer footer footer";
  }
  
  .Header {
       grid-area: Header;
  }
  
  .main { 
      grid-area: main;
  }
  
  .footer { 
      grid-area: footer; 
  }
  
    /*nested grid for services section*/
    .nested-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(70px, auto);
      grid-gap: 1em;
      text-align: center;
  }

    .grid-test{
      display:grid;
      grid-template-columns:repeat(3, 1fr); 
      grid-auto-rows: minmax(70px, auto);
      grid-gap:1em;
      text-align:justify;
  }